<form action = "<%=users_url%>" method = "post">
  Username:<br>
  <input type = "text" name = "user[username]"><br>
  Password:<br>
  <input type = "text" name = "user[password]"><br>
  <input type = "submit" value = "submit">
</form>